<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>


<table id="movies" border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th><%= sort_link('title', 'Title') %></th>
      <th><%= sort_link('rating', 'Rating') %></th>
      <th><%= sort_link('release_date', 'Release date') %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>