<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1 style="text-align: center;">Movies</h1>

<div style="text-align: center; margin: 20px 0;">
  <%= link_to "New Movie", new_movie_path, 
      style: "background-color: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;" %>
</div>

<table id="movies" border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th class="<%= sorted_class('title') %>"><%= sort_link('title', 'Title') %></th>
      <th class="<%= sorted_class('rating') %>"><%= sort_link('rating', 'Rating') %></th>
      <th class="<%= sorted_class('release_date') %>"><%= sort_link('release_date', 'Release date') %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>

